/*alignment*/
body {text-align: center;}
p, table {
    text-align: left;
    margin: 0 auto;  /* Centers the page */
    width: 80%;      /* Controls the width of the page text */

    line-height: 1.5
}

/*nav {text-align: left; margin: 0 auto; width: 80%;}*/

/*font*/
body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
/*article {font-size: 12px;}*/
h1 {font-size: 40px;}
p {font-size: 12px;}

/* colors */
body {background-color: #1b1a1a; color: whitesmoke;}
body {
    background-image: url('images/banner.jpg'); /* Path to your image */
    background-size: cover; /* Scales the image to cover the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed
}

h1 {color: rgb(192, 231, 19);}
p {color: whitesmoke;}